.site-header {
  position: relative;
  background-image: url('https://s3-us-west-2.amazonaws.com/mjb-personal/hellote-hipster-web-1.jpeg');
  background-size: cover;
  background-position: 50%;

  .container {
    height: 45vh;
    min-height: 290px;
  }

  &:after {
    background-color: rgba(#000, .03);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
  }
}

.site-header-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 2em;
}

.site-header-container--hidden {
  opacity: 0;

  @include breakpoint {
    opacity: 1;
  }
}

.site-title {
  font-size: 2em;
  text-shadow: rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;
  width: 100%;
  text-align: center;
  margin: 0;

  a {
    color: white;
  }

  @include breakpoint {
    margin: 0;
  }
}

.site-logo {
  img {
    max-height: 42px;
    width: auto;

    @include breakpoint {
      max-height: 45px;
    }
  }
}

.site-description {
  color: white;
  font-style: italic;
  padding-top: 15px;
  width: 100%;
  text-align: center;
  text-shadow: rgba(255,255,255,.1) -1px -1px 1px,rgba(0,0,0,.5) 1px 1px 1px;

  .site-logo + & {
    margin-top: 7px;

    @include breakpoint {
      margin-top: 10px;
    }
  }
}
